<% layout("/layouts/bolierplate") %>
<body>
    <div class="mt-3">
        <h2>ALL LISTINGS</h2>
    </div>
    <br>
    <!-- <form action="/listings/new" method="get">
        <button>Create New listing</button> 
    </form>   -->

    <div class="listing-container row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-links d-block">
                <div class="card col listing-card" style="width: 24rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"><i class="fa-regular fa-heart" style="color: aliceblue;"></i></div>
                    <div class="card-body">
                      <h5 class="card-title"><%= listing.title %></h5>
                      <p class="card-text"> 
                           <% if (listing && listing.price) { %>
                               &#8377; <%= listing.price.toLocaleString("en-in") %> / night
                           <% } else { %>
                               Price not available
                           <% } %>
                      </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>

</body>
